# Bytecode Python
__pycache__/
*.pyc

# Environnement virtuel
venv/
.venv/

# Fichiers d'IDE
.vscode/
.idea/

# Fichiers de test locaux (échantillons malware simulés, fichiers renommés...)
samples/

# Rapports de test
rapport*.json
rapport*.csv
rapport*.txt
alertes*.json